if SHIELD_TINYTB

config ZMK_KEYBOARD_NAME
    default "TinyTB"

    config INPUT
        bool
        default y

    config PMW3610
        bool
        default y

    config SPI
        bool
        default y

    config ZMK_BLE
        bool
        default y

    config ZMK_POINTING
        bool
        default y

endif
