#include <physical_layouts.dtsi>

/ {
    tinytb_physical_layout: tinytb_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";

        // Reference to the kscan and matrix transform nodes
        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100  100       0     0     0>
            ;
    };
};
