#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    behaviors {
        scroll_up_down: mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* ---- 通常レイヤー（トラックボール＝マウス移動） ---- */
        default_layer {
            sensors = <&trackball_listener>;
            bindings = <
                &bt BT_CLR      &bt BT_SEL 0
                &lt &scroll_layer &mkp LCLK   &mkp RCLK   /* ← タップ=左クリック / 長押し=スクロール層 */
            >;
        };

        /* ---- スクロールレイヤー（トラックボール＝スクロール） ---- */
        scroll_layer: scroll_layer {
            sensors = <&trackball_scroll_listener>;
            /* キーは基本そのまま（必要なら好きに変更可） */
            bindings = <
                &trans           &trans
                &mkp LCLK        &mkp RCLK
            >;
        };
    };
};
