#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* 3x2 = 6キー想定。transformのキー数と必ず一致させる */
            bindings = <
                &kp A   &kp B   &kp C
                &kp D   &kp E   &kp F
            >;
        };
    };
};
