#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* 左→右：MB1 / MB2 / ESC / LSFT */
            bindings = <
                &mkp LCLK     /* 左クリック */
                &mkp RCLK     /* 右クリック */
                &kp  ESC
                &kp  LSHFT
            >;
        };
    };
};
