/* TinyTB Shield (build-safe minimal) */
 / {
     compatible = "zmk,shield-tinytb";

     chosen {
         zmk,kscan = &kscan0;
         zmk,physical-layout = &tinytb_pl;
         zmk,keyboard-name = "TinyTB";
     };

     aliases {
         kscan = &kscan0;
         trackball = &pmw3610;
     };

     /* ---- 物理レイアウト (仮の2x2) ---- */
     tinytb_pl: physical_layout {
         compatible = "zmk,physical-layout";
         keys = <
             0   0   18  18   /* D0 */
             20  0   18  18   /* D1 */
             0  20   18  18   /* D2 */
             20  20   18  18   /* D3 */
         >;
     };

     /* ---- 4 direct-wired keys ---- */
     kscan0: kscan {
         compatible = "zmk,kscan-gpio-direct";
         label = "TinyTB Keys";
         input-gpios = <&gpio0  5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                       <&gpio0  4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                       <&gpio1 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                       <&gpio1 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
         debounce-press-ms = <5>;
         debounce-release-ms = <5>;
     };
 };
