#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_SCRL_VAL 100
#define SCROLL 1
#define HOR 2
#define BL 3

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&lt {
    quick-tap-ms = <300>;
    flavor = "balanced";
};

/ {
    behaviors {
        scroll_up_down: mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

            tap-ms = <20>;
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <20>;
        };

        // TapDance追加 https://zmk.dev/docs/keymaps/behaviors/tap-dance
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&lt 3 LA(ESC)>, <&to 1>, <&to 2>;
        };

    };

    combos {
        compatible = "zmk,combos";

        mo2 {
            bindings = <&mo 1>;
            key-positions = <2 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &td0  &mo 1  &mkp RCLK  &mkp LCLK
            >;
        };

        layer_1 {
            bindings = <
                &to 0  &trans  &mt LC(END) LC(HOME)  &kp LEFT_CONTROL
            >;
//            sensor-bindings = <&scroll_up_down>;
        };

        layer_2 {
            bindings = <
                &to 0  &mt LC(PG_UP) LC(PG_DN)  &trans  &trans
            >;
//            sensor-bindings = <&scroll_right_left>;
        };

        layer_3 {
            bindings = <
                &trans  &bt BT_CLR  &bt BT_SEL 1  &bt BT_SEL 0
            >;
//            sensor-bindings = <&scroll_right_left>;
        };
    };
};
