#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/* overlay と同じ番号にする */
#define BASE    0
#define ROT_90  1
#define ROT_180 2
#define ROT_270 3
#define L1      4
#define L2      5
#define L3      6
#define L4      7

/{
  keymap {
    compatible = "zmk,keymap";

    /* 2x3 = 6キー想定。各レイヤーの要素数は常に6個に！ */

    base {
      label = "BASE";
      bindings = <
        &kp ENTER            &mo L1          &mkp LCLK
        &mt RCTRL BACKSPACE  &mo L2          &mkp RCLK
      >;
    };

    rot90 {
      label = "ROT_90";
      bindings = <
        &kp ENTER            &mo L2          &mkp LCLK
        &mt RCTRL BACKSPACE  &mo L3          &mkp RCLK
      >;
    };

    rot180 {
      label = "ROT_180";
      bindings = <
        &kp ENTER            &mo L3          &mkp LCLK
        &mt RCTRL BACKSPACE  &mo L4          &mkp RCLK
      >;
    };

    rot270 {
      label = "ROT_270";
      bindings = <
        &kp ENTER            &mo L4          &mkp LCLK
        &mt RCTRL BACKSPACE  &mo L1          &mkp RCLK
      >;
    };

    /* スクロール層は全キー透過。変換は overlay 側の listener が担当 */
    layer_1 { label = "L1"; bindings = <
      &trans &trans &trans  &trans &trans &trans
    >; };
    layer_2 { label = "L2"; bindings = <
      &trans &trans &trans  &trans &trans &trans
    >; };
    layer_3 { label = "L3"; bindings = <
      &trans &trans &trans  &trans &trans &trans
    >; };
    layer_4 { label = "L4"; bindings = <
      &trans &trans &trans  &trans &trans &trans
    >; };
  };
};
