#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* キー1: ホールドで SCROLL レイヤーへ、タップは無効 */
                &hold_tap <200 0> &none &mo SCROLL

                /* キー2: 右クリック */
                &mkp RCLK

                /* キー3: 左クリック */
                &mkp LCLK

                /* キー4: 中クリック */
                &mkp MCLK
            >;
        };

        scroll_layer {
            bindings = <
                &trans &trans &trans &trans
            >;
        };
    };
};
